@import url(http://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Marck+Script);
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);
@import url(https://fonts.googleapis.com/css?family=Bebas+Neue);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Raleway);


html {
  --scrollbarBG: #CFD8DC;
  --thumbBG: #90A4AE;
}
body::-webkit-scrollbar {
  width: 11px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}


html, body { height: 100%; width: 100%; margin: 0; scroll-behavior: smooth; }



body{
  background: black;
  color: white;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

header{
  background: #ffffff;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  text-align: right;
}


.background-img{
  background-image: url("images/homepage-4.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100%;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/* LOGO */

.logo{
  font-family: Marck Script;
  font-size: 25px;
  left: 5%;
  top: 1%;
  list-style-type: none;
  position: fixed;
  overflow: hidden;
}

.logo li{
  display: inline-block;
  margin: 0 20px 0 0;
}

.logo a {
  color: white;
  text-transform: uppercase;
  padding: 10px 20px;
  letter-spacing: 1px;
  border-radius: 3px;
  line-height: 20px;
  text-decoration: none;
  transition-duration: 500ms;
}

/* NAVIGATION BAR */

.navigation-bar{
  /* background: #3db2e1; */
  font-family: Raleway, sans-serif;
  font-weight: bolder;
  right: 5%;
  top: 3%;
  list-style-type: none;
  position: fixed;
  overflow: hidden;
}

.navigation-bar li{
  display: inline-block;
  margin: 0 20px 0 0;
}



.navigation-bar a {
  color: white;
  text-transform: uppercase;
  padding: 16px 20px;
  letter-spacing: 1px;
  border-radius: 3px;
  line-height: 20px;
  font-size: 1vw;
  overflow: hidden;
  text-decoration: none;
  transition-duration: 500ms;
}

.navigation-bar.different_color a, .logo.different_color a {
  color: #292929;
}

.navigation-bar.different_color a:hover, .logo.different_color a:hover {
  color: #292929;
}

.navigation-bar.different_color .active {
  color: #292929;
  font-size: 22px;
  text-decoration: inherit;
}

.navigation-bar a:hover, .logo a:hover {
  color: white;
  font-size: 1.2vw;
  text-decoration: inherit;
}

.logo a:hover{
  font-size: 30px;
}

.navigation-bar .active{
  color: white;
  font-size: 1.2vw;
  text-decoration: inherit;
}

/* RESUME DOWNLOAD BUTTON */

.button1{
  background-color: white;
  border: black 1px solid;
  font-family: Raleway, sans-serif, Open Sans;
  height: 55px;
  width: 160px;
  right: 10%;
  top: 15%;
  list-style-type: none;
  position: fixed;
  overflow: hidden;
  border-radius: 50px;
  align-items: bottom;
  opacity: 1;
  animation: reappear 0.5s;
}
@keyframes reappear {
  0% {
    opacity: 0;
  }
  100%{
    opacity: 1;
  }

}
.button1.no-display{
  animation: dissapear 0.2s;
  opacity: 0;
}
@keyframes dissapear {
  0% {
    opacity: 1;
  }
  100%{
    opacity: 0;
  }

}


.button1 div{
  align-items: bottom;
}
.button1 li {
  align-items: bottom;
  text-align: center;
  margin-top: 3px;
  animation: bounce 0.7s infinite;
}
@keyframes bounce {
  0% {
    margin-top: 3px;
  }
  50%{
    margin-top: 7px;
  }
  100%{
    margin-top: 3px;
  }
}
.button1 img{
  height: 70%;
  width: 30%;
}

/* RESPONSIVE NAVIGATION BAR */

@media screen and (max-width: 1320px){
  header{
    background: #ffffff;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    text-align: right;
  }

  .navigation-bar li{
    width: 100%;
    display: block;
    text-align: left;
    margin-top: 10px;
    padding: 0px;
  }

  .navigation-bar ul{
    padding-inline-start: 10px;
  }

  .navigation-bar a {
    color: white;
    text-transform: uppercase;
    padding: 16px 20px;
    letter-spacing: 1px;
    border-radius: 3px;
    line-height: 20px;
    font-size: 1.5vw;
    overflow: hidden;
    text-decoration: none;
    transition-duration: 500ms;
  }

    .navigation-bar a:hover, .logo a:hover {
      color: #00B9FB;
      font-size: 1.8vw;
      text-decoration: inherit;
    }

    .navigation-bar .active{
      color: #00B9FB;
      font-size: 1.8vw;
      text-decoration: inherit;
    }
    

}


.background-img{
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* INTRO MESSAGE */

.intro-sec{
  height: 85%;
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
  font-family: Raleway, sans-serif;
}

.my-intro{
  width: 35vw;
  height: auto;
  font-weight: 900;
}

.intro{
  display: none;
}
.intro1{
  display: none;
}
.intro.display, .intro1.display{
  font-size: 4vw;
  display: flex;
  overflow: hidden;
  padding: 10px 0 2px 0px;
  white-space: nowrap;
  font-family: "Josefin Sans";
  font-weight: normal;
  word-wrap: break-word;
  border-right: 4px solid white;
  word-break: break-word;
  overflow-wrap: break-word;
}
.intro{
  animation: type1 6s steps(25);
  width: 15.8ch;
}
@keyframes type1 {
  0% {
    width: 0ch;
  }
  33% {
    width: 15.8ch;
  }
  66% {
    width: 15.8ch;
  }
  100%{
    width: 0ch;
  }

}


.intro1.display{
  animation: type2 6s steps(25);
  width: 17.7ch;
  font-size: 4vw;
}
@keyframes type2 {
  0% {
    width: 0ch;
  }
  33% {
    width: 17.7ch;
  }
  66% {
    width: 17.7ch;
  }
  100%{
    width: 0ch;
  }
}

.intro.blinker, .intro1.blinker {
  border-right: 4px solid black;
}

.arrow{
  margin-top: 30px;
  height: 20%;
  width: 100%;
  align-content: center;
  text-align: center;
  background-repeat: no-repeat;
  background-size: contain;
}


.hover{
  animation: drop 0.7s;
  margin-top: 1vh;
}
@keyframes drop {
  0% {
    margin-top: 0;
  }
  100%{
    margin-top: 1vh;
  }
}

.undrop{
  animation: undrop 0.7s;
  margin-top: 0vh;
}
@keyframes undrop {
  0% {
    margin-top: 1vh;
  }
  100%{
    margin-top: 0vh;
  }
}

.arrow img{
  color: white;
  align-items: center;
  transform: rotate(90deg);
  height: auto;
  width: 2vw;
  padding: 20px;
  filter: brightness(0) invert(1);
}

/* FOOTER */

.footer{
  bottom: 0px;
  position: fixed;
  text-align: left;
  bottom: 3%;
  left: 3%;
}

.footer ul {
  padding-inline-start: 10px;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

.footer li {
  display: inline-block;
  padding: 5px;
}

.footer li a{
  background-size: 100%;
  background-repeat: no-repeat;
  display: inline-block;
  margin: 0px 8px;
  margin-top: 4px;
  transition: transform .2s;
  width: 30px;
  height: 30px;
}

.linkedin a{
  background-image: url("images/linkedin.png");
}

.github a{
  background-image: url("images/github.png");
}

.email a{
  background-image: url("images/email.png");
}

.linkedin a:hover, .github a:hover, .email a:hover{
  transform: scale(1.5);
}

/* PROFLIE PAGE */
.profile{
  color:rgba(0, 0, 0, 0.9);
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Raleway, sans-serif;
  flex-direction: row;
  text-align: center;
}

.left-half{
  width: 50%;
  height: 100%;
  display: table-cell;
  background-color: #f7484e;
  align-items : center;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

.left-half img{
  width: 15vw;
  height: auto;
  text-align: center;
  vertical-align: middle;
}

.right-half{
  width: 50%;
  height: 100%;
}

/* EXPERIENCES */

.experiences{
  color :lightgrey;
  background-color: white;
  /* background: url("images/background1.jpg"); */
  /* rgb(218, 218, 218); */
  /* linear-gradient(to top, #96deda, #ffffff); */
  /* background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%; */
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
}

.right-half-experience{
  width: 50%;
  height: 100%;
  display: table-cell;
  background-color: #292929;
  align-items : center;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

.right-half-experience img{
  width: 19vw;
  height: auto;
  text-align: center;
  vertical-align: middle;
}

.left-half-experience{
  width: 50%;
  height: 100%;
}




/* PROJECTS */


.projects{
  color: white;
  background-color: white;
  height: 100%;
  width: 100%;
  flex-direction: row;
  align-items: center;
}

.left-half-projects{
  width: 49.8%;
  height: 99%;
  display: table-cell;
  background-color: #ffffff;
  align-items : center;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  border: solid 5px black;
  border-left: solid 0px black;
}

.left-half-projects img{
  width: 17vw;
  height: auto;
  text-align: center;
  vertical-align: middle;
}

.right-half-projects{
  background-color: white;
  width: 50%;
  height: 100%;
}



/* CONTACT */

.contact{
  color: gray;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.right-half-contact{
  background-image: url('images/homepage-4.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 50%;
  height: 100%;
  display: table-cell;
  background-color: #292929;
  align-items : center;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

.right-half-contact img{
  width: 17vw;
  height: auto;
  text-align: center;
  vertical-align: middle;
}

.left-half-contact{
  
  width: 50%;
  height: 100%;
}
