html, body { height: 100%; width: 100%; margin: 0; scroll-behavior: smooth; }

body{
  background: black;
  color: white;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

header{
  background: #1F2833;
  background-image: url("homepage1.jpg");
  background-size: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  text-align: right;
}

/* NAVIGATION BAR */

.navigation-bar{
  /* background: #3db2e1; */
  font-family: Raleway, sans-serif;
  border-radius: 5px;
  right: 5%;
  top: 3%;
  list-style-type: none;
  position: fixed;
  overflow: auto;
}

.navigation-bar li{
  display: inline-block;
  margin: 0 20px 0 0;
}



.navigation-bar a {
  color: white;
  text-transform: uppercase;
  padding: 16px 20px;
  letter-spacing: 1px;
  border-radius: 3px;
  line-height: 20px;
  text-decoration: none;
  transition-duration: 500ms;
}

.navigation-bar.different_color a {
  color: black;
}

.navigation-bar a:link{
  color: #e65f78;
}

.navigation-bar a:hover{
  color: #00B9FB;
  font-size: 20px;
  text-decoration: inherit;
}

.navigation-bar .active{
  color: #00B9FB;
  font-size: 20px;
  text-decoration: inherit;
}

/* RESPONSTIVE NAVIGATION BAR */

@media screen and (max-width: 650px){

  .navigation-bar li{
    width: 100%;
    display: block;
    text-align: left;
    margin-top: 10px;
    padding: 0px;
  }

  .navigation-bar ul{
    padding-inline-start: 10px;
  }
}

/* INTRO MESSAGE */

.intro-sec{
  height: 100%;
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
  font-family: Raleway, sans-serif;
}

.intro{
  font-size: 36pt;
  animation: type1 2s steps(22);
  overflow: hidden;
  white-space: nowrap;
  font-family: "Madefor-Display";
  border-right: 4px solid white;
  width: 21ch;
}
@keyframes type1 {
  0% {
    width: 0ch;
  }
  100% {
    width: 21ch;
  }
}

/* FOOTER */

.footer{
  bottom: 0px;
  position: fixed;
  text-align: left;
  bottom: 3%;
  left: 3%;
}

.footer ul {
  padding-inline-start: 10px;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

.footer li {
  display: inline-block;
  padding: 5px;
}

.footer li a{
  background-size: 100%;
  background-repeat: no-repeat;
  display: inline-block;
  margin: 0px 8px;
  margin-top: 4px;
  transition: transform .2s;
  width: 30px;
  height: 30px;
}

.linkedin a{
  background-image: url("linkedin.png");
}

.github a{
  background-image: url("github.png");
}

.email a{
  background-image: url("email.png");
}

.linkedin a:hover, .github a:hover, .email a:hover{
  transform: scale(1.5);
}

/* PROFLIE PAGE */
.profile{
  color: white;
  background: white;
  height: 80%;
  width: 100%;
  padding: 20px;
  display: flex;
  font-family: Raleway, sans-serif;
  flex-direction: row;
}

.profile-title {
  height: 10%;
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  font-family: Pacifico;
  text-transform: uppercase;
  color: #00B9FB;
}

.profile-title h2{
  font-size: 54px;
  font-style: italic;
  font-weight: 200;
  line-height: 1.1;
}

.experiences{
  color: gray;
  background: gray;
  height: 100%;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: row;
}

.projects{
  color: gray;
  background: black;
  height: 100%;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: row;
}

.contact{
  color: gray;
  background: #e65f78;
  height: 100%;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: row;
}
